<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>D.casino</title>
  <link rel="stylesheet" href="/static/css/top.css"zz>
  <script type="text/javascript" src="/static/js/jquery-top3.3.1.min.js"></script>
</head>

<body>
<form action="/" method="POST">

    <h1>DOOKOI CASINO</h1>
    <div class="video">
        <video autoplay loop muted>
            <source src="/static/pic/top_image.mp4">
        </video>
    </div>
    <div class="participants">
        <input class="player1" placeholder="player1" name="name1">
        <input class="player2" placeholder="player2" name="name2">
        <input class="player3" placeholder="player3" name="name3">
        <input class="player4" placeholder="player4" name="name4">
        <input class="player5" placeholder="player5" name="name5">
        <div class="plas">＋</div>
    </div>

<input type="submit"class="submit" value="START">

</form>
</body>
    <script src="/static/js/top.js"></script>
</html>
